* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Madimi One", serif;
}

:root {
    --primary-color: #605DC8;
    --primary-hover-color: #7975ff;
    --primary-active-color: #b4b0fd;
    --primary-disabled-color: #646375;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
}
  
button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
}
  
button.primary:hover {
    padding: 10px;
    border: solid 1px var(--primary-hover-color);
    background: var(--primary-hover-color);
    color: white;
    border-radius: 8px;
}
  
button.primary:active {
    padding: 10px;
    border: solid 1px var(--primary-active-color);
    background: var(--primary-active-color);
    color: white;
    border-radius: 8px;
}
  
button.primary:disabled {
    padding: 10px;
    border: solid 1px var(--primary-disabled-color);
    background: var(--primary-disabled-color);
    color: white;
    border-radius: 8px;
}
